.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}

.card__name-container {
  position: absolute;
  top: 15px;
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

.card__name {
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  opacity: 60%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__like-button {
  bottom: 12px;
  right: 12px;
  width: 21px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-image: url(../../assets/unlikedbutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../../assets/likedbutton.svg);
}
