.sidebar {
  display: flex;
  flex-direction: row;
  width: 229px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  align-self: center;
  margin: 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}
